<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글 생성 페이지</title>
  </head>
  <body>
    <h1>게시글 생성하기</h1>
    <form method="POST">
      {% csrf_token %}
      <h2>책 제목 :</h2>
      {{ form.title }}
      <h2>책 소개 :</h2>
      {{ form.contents }}
      <h2>책 가격 :</h2>
      {{ form.price }}
      <h2>책 점수 :</h2>
      {{ form.rating }}
      <h2>등록시간 :</h2>
      {{ form.created_date }}
      <button type="submit">생성하기</button>
    </form>
  </body>
</html>
